<div class="card-deck">
{{#each categories}}
<div class="card" style="width: 25rem;">
  <img src="/uploads/{{imageMulterName}}" class="card-img-top" alt="image for the category {{name}}" height="300">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/categories/{{id}}" class="btn btn-primary">View Products</a>
  </div>
</div>
{{/each}}
</div>

