<ul class="list-group">
  <li class="list-group-item"><a href="/admin/users">View all users</a></li>
  <li class="list-group-item"><a href="/assets/addasset">Add an asset</a></li>
  <li class="list-group-item">Third item</li>
</ul>